*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(101,101,231) no-repeat;
    background: -moz-linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 86%);
    background: -webkit-linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 86%);
    background: linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 86%) no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6565e7",endColorstr="#af67e9",GradientType=1);
}

.main-container {
    align-items: center;
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    position: relative;
    width: 85%;
    margin: 10rem 0 0 0;
}

.bg-woman-mobile{
    background-image: url(../images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    width: 100%;
    max-width: 400px;
    padding: 20rem;
    position: absolute;
    background-position: center;
    top: -220px;
}

 @media screen and (max-width: 375px) {
    .bg-woman-mobile {
        padding: 15rem;
        top: -160px;
    }

    .bg-pattern {
        transform: scale(0.85);
        top: -5px;
    }
 }

.bg-pattern {
    position: absolute;
    top: 5px;
    width: 100%;
    max-width: 300px;
    z-index: 1;
}

.main-heading {
    margin-top: 14rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 700;
}

/* Accordian Container */
.accordian-container {
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 4rem 2rem;
}

.accordian-container ul {
    list-style-type: none;
}

.accordian-container .content-container {
    width: 100%;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin-bottom: 1rem;
    padding: 1rem;
    transition: 0.5s;
    cursor: pointer;
}

.accordian-container .content-container .question::after {
    content: url(../images/icon-arrow-down.svg);
    position: absolute;
    right: 20px;
    transition: 0.3s;
    transform: scale(1.5);
}

.accordian-container .content-container .answer {
    max-height: 0vh;
    opacity: 0;
    line-height: 1.5;
    transition: max-height 0.3s, opacity 0.3s;
}

.question {
    font-size: 1.6rem;
    color: hsl(237, 12%, 33%);
    margin-bottom: 1rem;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.answer {
    font-size: 1.2rem;
    color: hsl(240, 6%, 50%);
}

/* JavaScript styling link */
.accordian-container .content-container.active .answer {
    max-height: 100vh;
    opacity: 1;
}

.accordian-container .content-container.active .question::after {
    transform: rotate(90deg) scale(1.6);
}





@media screen and (min-width: 1024px) {
    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 900px;
    }

    .main-heading {
        text-align: left;
        margin: 0 0 2rem;
        padding-right: 23rem;
    }

    .accordian-container {
        max-width: 400px;
        padding: 2rem 5rem 2rem 0 ;
        text-align: left;
        position: relative;
        right: 50px;
    }

    .bg-woman-mobile{
        background-image: url(../images/illustration-woman-online-mobile.svg);
        position: relative;
        background-size: 90%;
        top: 10px;
        right: 80px;
        padding: 25rem;
        z-index: 2;
    }
    
    .bg-pattern {
        position: absolute;
        top: 400px;
        left: -60px;
        transform: scale(2);
        max-width: 300px;
        z-index: 1;
    }
}

.attribution {
    position: relative;
    font-size: 1.2rem;
    text-align: center;
}
.attribution a {
    color: hsl(0, 0%, 100%);
}