*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: rgb(101,101,231) no-repeat;
    background: -moz-linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 86%);
    background: -webkit-linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 86%);
    background: linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 86%) no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6565e7",endColorstr="#af67e9",GradientType=1);
}

.wrapper {
    width: 85%;
    height: 100%;
    margin: 18rem 0;
}

.faq {
    align-items: center;
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    max-width: 900px;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159)
}

@media screen and (min-width: 1110px) {
    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 900px;
        transform: scale(1);
    }
    .faq {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: static;
        max-width: 900px;
        overflow: hidden;
    }

}





/* Images */
.faq__image-container {
    width: 100%;
    height: 14rem;
}


.faq__main-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.faq__woman-image{
    max-width: 400px;
    width: 100%;
    position: relative;
    bottom: 13rem;
    transform: scale(0.9);
    z-index: 5;
}

.faq__shadow-image {
    max-width: 400px;
    width: 100%;
    position: relative;
    bottom: 22rem;
    transform: scale(1.1);
    z-index: 1;
}

.faq__box-illustration {
    z-index: 10;
    display: none;
}

@media screen and (min-width: 1110px) {
    .faq__image-container {
        height: 50rem;
    }
    .faq__woman-image {
        position: relative;
        top: 7.5rem;
        right: 10rem;
        transform: scale(1.2);
    }
    .faq__shadow-image {
        transform: scale(2);
        position: relative;
        right: 26rem;
        bottom: 32rem;
    }

    .faq__box-illustration {
        position: absolute;
        display: block;
        top: 37%;
        left: -9.3rem;
    }
}

@media screen and (max-width: 340px) {
    .faq__woman-image {
        position: relative;
        bottom: 11.7rem;
        transform: scale(0.8);
    }
    .faq__shadow-image {
        position: relative;
        bottom: 21rem;
        transform: scale(0.9);
    }
}




/* Main Heading */

.faq__main-heading {
    margin-bottom: 3rem;
    font-size: 3.8rem;
    font-weight: 700;
}

@media screen and (min-width: 1110px) {
    .faq__main-heading {
        text-align: left;
        margin: 0 0 2rem;
        position: relative;
        right: 12.5rem;
    }
}




/* Accordian Container */
.faq__main-container {
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 4rem 2rem;
}

@media screen and (min-width: 1110px) {
    .faq__main-container {
        max-width: 400px;
        padding: 2rem 5rem 2rem 0 ;
        text-align: left;
        position: relative;
        right: 50px;
    }

}

.faq__main-container ul {
    list-style-type: none;
}

.faq__main-container .content-container {
    width: 100%;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin-bottom: 1rem;
    padding: 1rem;
    transition: 0.5s;
    cursor: pointer;
}

.faq__main-container .content-container .question::after {
    content: url(../images/icon-arrow-down.svg);
    position: absolute;
    right: 20px;
    transition: 0.3s;
    transform: scale(1.4);
}

.faq__main-container .content-container .answer {
    max-height: 0vh;
    opacity: 0;
    line-height: 1.5;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.question {
    font-size: 1.6rem;
    color: hsl(237, 12%, 33%);
    margin-bottom: 1rem;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.answer {
    font-size: 1.4rem;
    color: hsl(240, 6%, 50%);
}

/* JavaScript styling link */
.faq__main-container .content-container.active .answer {
    max-height: 100vh;
    opacity: 1;
}

.faq__main-container .content-container.active .question::after {
    transform: rotate(180deg) scale(1.3);
}




/* For transitions when resizing the page */

div, section, picture, img, ul, li, source, h2 {
    transition: ease-out 0.3s ;
}




/* Attributions */
.attribution {
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    bottom: 1rem;
}
.attribution a {
    color: hsl(0, 0%, 100%);
}